.pd-image{
    height: 25vh;
    object-fit: contain;
}

.pd-card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
    
}
.deliver{
    font-size: small;
    
}
.card-description{
    height: 14vh;
    overflow: hidden;
}